* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: RobotoMono Nerd Font Mono Regular;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
    background-color: #383c4a;
}

window#waybar{
    min-height: 1rem;
    background: linear-gradient(#383c4a, #383c4a) padding-box, linear-gradient(45deg, rgba(51,204,255,0.9) , rgba(0,255,153,0.9)) border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    /*
    border-image-source: linear-gradient(to right, darkblue, darkorchid);*/
}

#pipe, #window{
    margin-right: 16px;
    margin-left: 16px;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
}

#workspaces button {
    transition: none;
    background: transparent;
    padding: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
}


#clock {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
}

#custom-weather, #custom-kernel {
    padding-right: 16px;
    transition: none;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
}

#custom-ip {
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    transition: none;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

#tray * {
    color: black;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
